rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /bakikhata_stores/{deviceId} {
      allow read, write: if true;
    }
    match /bakikhata_stores/{deviceId}/{subcollection=**} {
      allow read, write: if true;
    }
  }
}
